.header {
    background-color: #3c9fc3;
    color: white;
}

.header .nav-link {
    color: #212529
}

.header .nav-link:hover,
.header .nav-link:focus {
  text-decoration: underline;
}

.header .nav-link.active {
  font-weight: 600;
  border-bottom: 2px solid currentColor;
}

h1.header {
    font-size: 9vw;
}

form.register {
    border: 1px solid #3c9fc3;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}
